!!!
%html
  %head
    %title Host Site
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          = link_to root_path, :class => "brand" do
            %i.icon-home
            = "Host site "
          .nav-collapse
            %ul.nav
              %li lol
              %li lool
              %li loo
              %li lol
              %li lool
              %li loo
            %ul.nav.pull-right
              %li
                = link_to request.fullpath do
                  %i.icon-refresh
                  Refresh
    .container
      .row
        .span12
          .row
            .span12
              .hero-unit
                = yield
            .footer#custom_footer
              = link_to main_app.root_path do
                %i.icon-backward
                » @ Vincent Huet - Djengo «